{% extends "public/base.html" %}



{% block content %}
    <section class="todo__section">
        <article>
            <h1 class="page-title">{{ todo.name }}</h1>
            <p class="card-time">Created on {{ todo.createdat }}</p>
            <p class="card-text card-description">{{ todo.description }}

            </p>
            <div class="card-priority">
                <p> This is a
                    {% if todo.priority == 3 %}
                        <strong> High</strong>
                    {% elif todo.priority == 2 %}
                        Medium
                    {% else %}
                        Low
                    {% endif %}
                    Priority todo</p>
            </div>
            <div class="card-option">
                {% if not todo.status %}
                    <form action="{% url 'todos:update' todo.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" title="Complete Todo">
                            Complete
                        </button>
                    </form>
                    <button type="button" class="btn btn-info"
                            onclick="edit_todo(['{{ todo.name }}',
                                    '{{ todo.priority }}', '{{ todo.description }}', '{{ todo.id }}'])"
                            title="Edit Todo">
                        Edit
                    </button>
                {% else %}
                    <p>Completed</p>
                    <button type="button" class="btn btn-warning"
                            onclick="replicate_todo(['{{ todo.name }}',
                                    '{{ todo.priority }}', '{{ todo.description }}'])"
                            title="Replicate Todo">
                        Replicate
                    </button>
                {% endif %}
                <form action="{% url 'todos:delete' todo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" title="Delete Todo"
                            onclick="return confirm('Are you sure you want to delete this todo?')">Delete
                    </button>
                </form>
            </div>
        </article>
    </section>
{% endblock %}