{% extends "public/base.html" %}

{% block content %}
    <section>
        <h1 class="page-title">{{ todo.name }}</h1>
        <p class="card-time">Created on {{ todo.createdat }}</p>
        <p class="card-text">{{ todo.description }}</p>
        <div class="card-option">
            <form action="{% url 'todos:update' todo.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Complete</button>
            </form>
            <form action="{% url 'todos:delete' todo.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </section>
{% endblock %}