section {
    width: 80%;
    margin: auto;
    min-height: 80rem;
}

.card {
    margin-bottom: 1rem;
}

.card-title {
    text-transform: capitalize;
}

.card-link {
    text-decoration: none;
    color: #151515;
}

.page-title {
    margin: 1.5rem auto;
    text-transform: capitalize;
}

.card-time {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.75rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
}

.material-icons {
    font-size: 2rem;
}

.priority_high, .btn_delete {
    color: red;

}

.priority_medium, .btn_replicate {
    color: #ffb500;

}

.priority_low, .btn_edit {
    color: dodgerblue;
}

.card-option {
    display: flex;
    gap: 0.5rem;
}

.modal-content {
    margin-top: 5rem;
}

.login__section {
    display: grid;
    place-items: center;
}

#loginForm {
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
}

#loginForm input {
    margin-bottom: 1rem;
    width: 100%;

}

.card-description {
    min-height: 20rem;
}